body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #333;
}

h1 {
    margin-bottom: 10px;
    text-align: right;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.header {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.header img {
    width: 150px;
    height: 175px;
    margin-right: 100px;
    border: 2px solid #333;
    float: right;


}

.contact-info {
    flex-grow: 1;
}

.contact-info p {
    margin: 5px 0;
    text-align: right;

}

.section {
    margin-bottom: 20px;
}

.section ul:before {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

.section ul li strong {
    display: block;
    font-weight: bold;
}